/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
    
/******************** GENERAL STYLES ********************/
 
html {
	font-size: 16px;
}
 
body {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  color: #e2e3ed;
  text-align: left;
}
 
ul, 
ol {
  list-style-type: none;
}
 
a {
  color: #e2e3ed;
  text-decoration: none;
}
 
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.875em;
}
 
h3, 
h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  margin: 20px 0;
}
 
p {
  font-size: .875em;
  line-height: 1.285;
}

img {
  width: 100%;
 }
  
 figure {
  margin: 0;
 }
  
address {
 font-style: normal;
}

.content-wrapper {
  width: 90%;
  margin: 50px 0;
}

/******************** BASE HEADER STYLES ********************/

header,
footer {
  background-color: #202322;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header {
  padding: 15px 0;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

header figure {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.header-divider {
  background: #3a3a3a; 
  width: 100%;
  height: 1px;
  margin: 10px 0 20px 0;
}

header nav {
  width: 60%;
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

header nav ul li {
  font-size: 1.125em;
}

/******************** BASE FOOTER STYLES ********************/

footer {
  text-align: center;
  flex-direction: column;
}

footer p {
  margin: 0;
}

footer .content-wrapper {
  width: 55%;
  margin: 50px 0;
}

footer .contact {
  margin-bottom: 50px;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social p {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .copyright {
  margin: 20px 0;
}

/******************** BASE MAIN STYLES ********************/

/* HERO */

.hero-area {
  background: url('../img/hero.jpg');
  background-size: cover;
  background-position: center;
  min-height: 500px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.hero-area h1 {
  font-size: 2.25em;
  font-family: 'Poppins', Helvetica, Arial, sans-serif; 
  font-weight: 500; 
  line-height: 1.2; 
}

/* ASIDE */

aside {
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

aside .form{
  margin-top: 30px;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}

input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/* FEATURES */

.features {
  background: url('../img/main.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.features h2 {
  margin-bottom: 60px;
}

.features article {
  width: 63%;
  margin: 30px 0;
}

.features .features-item-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.features p {
  text-align: center;
  margin: 0;
}

/* REVIEWS */

.reviews {
  background-color: #2a423a;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.reviews h2 {
  margin-bottom: 40px;
  line-height: 1;
}

.reviews h3 {
  width: 55%;
  margin: 20px 0;
}

/******************** ABOUT PAGE ********************/

.mission {
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.content-section {
  background-color: #2a423a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.contact-content p {
  margin: 0;
}

/******************** FAQ PAGE ********************/

.faq {
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.faq .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 50px 0 0 0;
}

.faq h2 {
  margin-bottom: 40px;
  line-height: 1;
}

.faq-content {
  margin-bottom: 50px;
}

.faq-content h4 {
  line-height: 1.333;
}

/* ==========================================================================
   HELPER CLASSES
   ========================================================================== */

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media only screen and (min-width: 768px) {
  
  /******************** BASE STYLES ********************/

  .content-wrapper {
    max-width: 640px;
    margin: 100px 0;
  }

  /******************** HEADER STYLES ********************/

  header {
    justify-content: space-around;
    padding: 33px 0;
  }

  header .content-wrapper {
    width: 100%;
    justify-content: space-between;
  }

  header nav {
    width: 20%;
  }

  header nav ul {
    justify-content: space-between;
  }

  .header-divider {
      display: none;
  }

 /******************** MAIN STYLES ********************/

  aside .content-wrapper {
      margin: 50px 0;
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
  }

  aside .content-wrapper .form-description,
  aside .content-wrapper .form {        
      width: 40%;
      margin: 0;
  }

  .features article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    flex-basis: 50%;
  }

  .features .features-item-description {
      width: 50%;
  }

  .reviews article {
    display: flex;
    justify-content: space-between;
  }

  .reviews article div {
      width: 49%;   
  }

 /******************** FOOTER STYLES ********************/

  footer .content-wrapper {
    width: 65%;
    margin: 100px 0;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer .contact {
      margin-bottom: 0;
  }

  footer .copyright {
      width: 100%;
  }

  /******************** ABOUT PAGE ********************/
  
  .mission-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }

  .mission-content p {
    width: 45%;
  }

  .contact-section .content-wrapper h2 {
    width: 80%;
  }

  .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  /******************** FAQ PAGE ********************/
  
  .faq .content-wrapper {
    justify-content: space-between;
  }
    
  .faq-content {
    flex-basis: 40%;
  }
 
  .faq h2 {
    width: 100%;
  }
  
}
  
@media only screen and (min-width:1200px) {
  /*Desktop styles here*/

  /******************** BASE STYLES ********************/

  .content-wrapper {
    max-width: 960px;
  }

  /******************** MAIN STYLES ********************/

  .hero-area h1 {
    width: 60%;
  }

  aside .content-wrapper {
    justify-content: space-around;
  }

  aside .content-wrapper .form-description,
  aside .content-wrapper .form {
    width: 30%;
  }

  .features h2 {
    width: 90%;
  }

  .features article {
    flex-basis: 33%;
  }
  
  .reviews article div {
    width: 42%;
  }

  /******************** ABOUT PAGE ********************/

  .mission h2,
  .contact-section .content-wrapper h2 {
      width: 95%;
  }

  /******************** FAQ PAGE ********************/

  .faq h2 {
    width: 100%;
  }

}

/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

